<div class="page-container">
<h1 class="text-align-center">Users</h1>
<ul>
  <% @user.each do |user| %>
    <li class="background-color-aliceblue">
      <%= link_to "#{root_path}users/#{user.id}", class: "text-decoration-none" do %>
      <div class="display-flex">
        <div class="user-photo-container">
          <img class="user-photo" src=<%= user.photo %> />
        </div>
        <div class="user-text-details-container">
          <h2>
            <%= user.name %>
          </h2>
          <p>Number of posts: <%= @posts.where(author_id: user.id).count %></p>
        </div>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
