.page-container {
  padding: 40px;
}

.see-all-posts-button {
  padding: 8px 18px;
  background-color: coral;
  color: white;
  font-weight: 300;
  font-size: large;
  border-radius: 4px;
  border: none;
}

.see-all-posts-button:hover {
  background-color: rgb(54, 4, 4);
  cursor: pointer;
}

.align-self-end {
  align-self: end;
}
